* {
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #222;
  margin: 0 5px 0 5px;
  font-family: system-ui;
}

/* Main */

main {
  padding: 30px 10px 10px 10px;
}

.title {
  margin: 0 0 50px 0;
  text-align: center;
}

.counter-teams {
  display: flex;
  gap: 20px;
  margin: 0 auto 40px auto;
  max-width: 600px;
}

.counter-teams > button {
  background-color: beige;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  font-family: system-ui;
  cursor: pointer;
}

.counter-teams > button:hover {
  font-weight: 500;
}

.counter-teams__title {
  margin: 0;
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.titles {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 30px auto;
  border-bottom: 0.5px solid;
  padding: 0 0 10px 0;
  max-width: 600px;
}

.titles > p {
  margin: 0;
}

.grid__teams-container {
  display: grid;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  height: 60px;
  display: flex;
  margin: 0 0 15px 0;
  align-items: center;
  list-style: none;
}

.team__img {
  filter: drop-shadow(2px 4px 6px black);
  width: 35px;
  height: 35px;
  margin: 0 15px 0 0;
}
@media (min-width: 481px) {
  .team__img {
    height: 50px;
    width: 50px;
  }
}

.actions {
  display: grid;
  gap: 2px;
}
@media (min-width: 481px) {
  .actions {
    display: flex;
    gap: 10px;
  }
}

.actions__see,
.actions__edit,
.actions__delete {
  font-size: 16px;
  font-family: system-ui;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  padding: 0;
}

.actions__see:hover,
.actions__edit:hover,
.actions__delete:hover {
  color: cadetblue;
}

/* Form add team */

fieldset {
  display: grid;
  border-style: none;
  padding: 0;
  margin: 0;
}

.form-addTeam {
  margin: 20px 5px 20px 5px;
  max-width: 250px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
}
@media (min-width: 769px) {
  .form-addTeam {
    max-width: 900px;
    margin: 30px 10px 0 10px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .form-addTeam {
    margin: 30px auto 0 auto;
  }
}

.form-addTeam .error {
  margin: 5px 0 0 0;
  color: #f0394d;
  height: 30px;
}

.form-addTeam button {
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  width: 180px;
  border-style: none;
  border-radius: 100px;
  font-family: system-ui;
  color: black;
  font-weight: 600;
  border: 3px solid black;
}

input {
  height: 25px;
  border-radius: 5px;
  border-style: none;
  outline: none;
  font-family: system-ui;
  font-size: 15px;
  padding: 0 0 0 5px;
}

label {
  margin: 0 0 5px 0;
}

/* Team page */

.team-page {
  display: grid;
  justify-items: center;
  margin: 50px auto 20px auto;
  max-width: 500px;
}

.team-page__container-close {
  width: 100%;
}

.team-page__close {
  font-size: 20px;
  cursor: pointer;
}
@media (min-width: 481px) {
  .team-page__close {
    font-size: 25px;
  }
}

.team-page__img {
  width: 100px;
  height: 100px;
  margin: 0;
}

.team-page__title {
  margin: 20px 0 40px 0;
  font-size: 24px;
}
@media (min-width: 481px) {
  .team-page__title {
    font-size: 32px;
  }
}

.team-page__information {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
}
@media (min-width: 481px) {
  .team-page__information {
    gap: 50px;
  }
}

.team-page__information p,
.team-page__information a,
.team-page__container-map p {
  margin: 0;
  font-size: 12px;
}
@media (min-width: 481px) {
  .team-page__information p,
  .team-page__information a,
  .team-page__container-map p {
    font-size: 16px;
  }
}

.team-page__information a {
  display: inline-block;
  text-decoration: none;
}

.team-page__information-last {
  margin: 0 0 30px 0;
}

.team-page__information--no-margin {
  margin: 0;
}

.team-page__container-map {
  display: grid;
  justify-items: center;
  margin: 0 0 50px 0;
}

.team-page__map {
  margin: 10px 0 0 0;
}

.team-page__value {
  font-weight: 500;
}

.team-page__value--color {
  color: cornflowerblue;
}

.team-page__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.team-page__buttons > button {
  border: 1px solid;
  padding: 5px 10px 5px 10px;
}
